.card {
    z-index: 0;
    background-color: #ECEFF1;
    padding-bottom: 20px;
    margin-top: 90px;
    margin-bottom: 90px;
    border-radius: 10px;
}

.top {
    padding-top: 40px;
    padding-left: 13% !important;
    padding-right: 13% !important;
}

.icon {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.icon-content {
    padding-bottom: 20px;
}

@media screen and (max-width: 992px) {
    .icon-content {
        width: 50%;
    }
}

.tracking-list {
    border: 1px solid #e5e5e5;
}

#tracking{
    background: #fff
}

.tracking-detail {
    padding: 3rem 0;
}

#tracking {
    margin-bottom: 1rem;
}

[class*="tracking-status-"] p {
    margin: 0;
    font-size: 1.1rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

[class*="tracking-status-"] {
    padding: 1.6rem 0;
}

.tracking-item {
    display: flex;
    position: relative;
    padding: 2rem 1.5rem 0.5rem 2.5rem;
    font-size: 0.9rem;
    margin-left: 3rem;
    min-height: 5rem;
}

.tracking-item-left {
    position: relative;
    padding: 2rem 1.5rem 0.5rem 2.5rem;
    font-size: 0.9rem;
    margin-left: 3rem;
    min-height: 5rem;
}

.tracking-item:last-child {
    padding-bottom: 2rem;
}

.tracking-item .tracking-date {
    margin-bottom: 0.5rem;
}

.tracking-item .tracking-date span {
    color: #888;
    font-size: 85%;
    padding-left: 0.4rem;
}

.tracking-item .tracking-content {
    padding: 0.5rem 0.8rem;
    background-color: #f4f4f4;
    border-radius: 0.5rem;
}

.tracking-item .tracking-content span {
    display: block;
    color: #767676;
    font-size: 13px;
}

.tracking-item-left .tracking-content span {
    display: block;
    color: #767676;
    font-size: 13px;
}

.tracking-item .tracking-icon {
    position: absolute;
    left: -0.7rem;
    width: 1.1rem;
    height: 1.1rem;
    text-align: center;
    border-radius: 50%;
    font-size: 1.1rem;
    background-color: #fff;
    color: #fff;
}

.tracking-item-pending {
    position: relative;
    padding: 2rem 1.5rem 0.5rem 2.5rem;
    font-size: 0.9rem;
    margin-left: 3rem;
    min-height: 5rem;
}

.tracking-item-pending:last-child {
    padding-bottom: 2rem;
}

.tracking-item-pending .tracking-date {
    margin-bottom: 0.5rem;
}

.tracking-item-pending .tracking-date span {
    color: #888;
    font-size: 85%;
    padding-left: 0.4rem;
}

.tracking-item-pending .tracking-content {
    padding: 0.5rem 0.8rem;
    background-color: #f4f4f4;
    border-radius: 0.5rem;
}

.tracking-item-pending .tracking-content span {
    display: block;
    color: #767676;
    font-size: 13px;
}

.tracking-item-pending .tracking-icon {
    line-height: 2.6rem;
    position: absolute;
    left: -0.7rem;
    width: 1.1rem;
    height: 1.1rem;
    text-align: center;
    border-radius: 50%;
    font-size: 1.1rem;
    color: #d6d6d6;
}

.tracking-item-pending .tracking-content {
    font-weight: 600;
    font-size: 17px;
}

.tracking-item .tracking-icon.status-current {
    width: 1.9rem;
    height: 1.9rem;
    left: -1.1rem;
    z-index: 999999;
}

.tracking-item .tracking-icon.status-intransit {
    color: #00ba0d;
    font-size: 0.6rem;
    z-index: 999999;
}

.tracking-item .tracking-icon.status-current {
    color: #00ba0d;
    font-size: 0.6rem;
}

@media (min-width: 992px) {

    .progress-bar {
        height: 12vh;
    }

    .tracking-item {
        margin-left: 5rem;
    }
    .tracking-item .tracking-date {
        position: absolute;
        left: -10rem;
        width: 7.5rem;
        text-align: right;
    }
    .tracking-item .tracking-date span {
        display: block;
    }
    .tracking-item .tracking-content {
        padding: 0;
        background-color: transparent;
    }

    .tracking-item-pending {
        margin-left: 5rem;
    }
    .tracking-item-pending .tracking-date {
        position: absolute;
        left: -10rem;
        width: 7.5rem;
        text-align: right;
    }
    .tracking-item-pending .tracking-date span {
        display: block;
    }
    .tracking-item-pending .tracking-content {
        padding: 0;
        background-color: transparent;
    }
}

.tracking-item .tracking-content {
    font-weight: 600;
    font-size: 17px;
}

.tracking-item-left .tracking-content {
    font-weight: 600;
    font-size: 17px;
}

.blinker {
    border: 7px solid #e9f8ea;
    animation: blink 1s;
    animation-iteration-count: infinite;
}
@keyframes blink { 50% { border-color:#fff ; }  }

.modal-dialog {
    max-width: 80% !important;
    margin: 1.75rem auto;
}


.modal-body {
    overflow: auto !important;
    max-height: 75vh !important;
}

.display-flex {
    display: flex !important;
}

.justify-content-center {
    justify-content: center !important;
}

.progress-bar {
    width: 5px;
    height: 15vh;
    position: absolute;
    left: 7px;
    background: #00ba0d;
}

.progress-bar-first {
    width: 5px;
    height: 200%;
    position: absolute;
    left: -5px;
    background: #00ba0d;
    top: -60px;
}

.progress-bar-pending {
    width: 5px;
    height: 100%;
    position: absolute;
    left: -5px;
    background: #d6d6d6;;
}

.progress-bar-pending-first {
    width: 5px;
    height: 90%;
    position: absolute;
    left: -5px;
    background: #d6d6d6;
    top: 48px;
}
